[submodule "acerspyro"]
	path = data/acerspyro
	url = https://github.com/redeclipse-legacy/acerspyro.git
	branch = master
[submodule "actors"]
	path = data/actors
	url = https://github.com/redeclipse-legacy/actors.git
	branch = master
[submodule "appleflap"]
	path = data/appleflap
	url = https://github.com/redeclipse-legacy/appleflap.git
	branch = master
[submodule "blendbrush"]
	path = data/blendbrush
	url = https://github.com/redeclipse-legacy/blendbrush.git
	branch = master
[submodule "caustics"]
	path = data/caustics
	url = https://github.com/redeclipse-legacy/caustics.git
	branch = master
[submodule "crosshairs"]
	path = data/crosshairs
	url = https://github.com/redeclipse-legacy/crosshairs.git
	branch = master
[submodule "dziq"]
	path = data/dziq
	url = https://github.com/redeclipse-legacy/dziq.git
	branch = master
[submodule "elyvisions"]
	path = data/elyvisions
	url = https://github.com/redeclipse-legacy/elyvisions.git
	branch = master
[submodule "fonts"]
	path = data/fonts
	url = https://github.com/redeclipse-legacy/fonts.git
	branch = master
[submodule "freezurbern"]
	path = data/freezurbern
	url = https://github.com/redeclipse-legacy/freezurbern.git
[submodule "john"]
	path = data/john
	url = https://github.com/redeclipse-legacy/john.git
	branch = master
[submodule "jojo"]
	path = data/jojo
	url = https://github.com/redeclipse-legacy/jojo.git
	branch = master
[submodule "jwin"]
	path = data/jwin
	url = https://github.com/redeclipse-legacy/jwin.git
	branch = master
[submodule "luckystrike"]
	path = data/luckystrike
	url = https://github.com/redeclipse-legacy/luckystrike.git
	branch = master
[submodule "maps"]
	path = data/maps
	url = https://github.com/redeclipse-legacy/maps.git
	branch = stable
[submodule "mayhem"]
	path = data/mayhem
	url = https://github.com/redeclipse-legacy/mayhem.git
	branch = master
[submodule "mikeplus64"]
	path = data/mikeplus64
	url = https://github.com/redeclipse-legacy/mikeplus64.git
	branch = master
[submodule "misc"]
	path = data/misc
	url = https://github.com/redeclipse-legacy/misc.git
	branch = master
[submodule "nieb"]
	path = data/nieb
	url = https://github.com/redeclipse-legacy/nieb.git
	branch = master
[submodule "nobiax"]
	path = data/nobiax
	url = https://github.com/redeclipse-legacy/nobiax.git
	branch = master
[submodule "particles"]
	path = data/particles
	url = https://github.com/redeclipse-legacy/particles.git
	branch = master
[submodule "philipk"]
	path = data/philipk
	url = https://github.com/redeclipse-legacy/philipk.git
	branch = master
[submodule "projectiles"]
	path = data/projectiles
	url = https://github.com/redeclipse-legacy/projectiles.git
	branch = master
[submodule "props"]
	path = data/props
	url = https://github.com/redeclipse-legacy/props.git
	branch = master
[submodule "skyboxes"]
	path = data/skyboxes
	url = https://github.com/redeclipse-legacy/skyboxes.git
	branch = master
[submodule "snipergoth"]
	path = data/snipergoth
	url = https://github.com/redeclipse-legacy/snipergoth.git
	branch = master
[submodule "sounds"]
	path = data/sounds
	url = https://github.com/redeclipse-legacy/sounds.git
	branch = master
[submodule "textures"]
	path = data/textures
	url = https://github.com/redeclipse-legacy/textures.git
	branch = master
[submodule "torley"]
	path = data/torley
	url = https://github.com/redeclipse-legacy/torley.git
	branch = master
[submodule "trak"]
	path = data/trak
	url = https://github.com/redeclipse-legacy/trak.git
	branch = master
[submodule "ulukai"]
	path = data/ulukai
	url = https://github.com/redeclipse-legacy/ulukai.git
	branch = master
[submodule "unnamed"]
	path = data/unnamed
	url = https://github.com/redeclipse-legacy/unnamed.git
	branch = master
[submodule "vanities"]
	path = data/vanities
	url = https://github.com/redeclipse-legacy/vanities.git
	branch = master
[submodule "vegetation"]
	path = data/vegetation
	url = https://github.com/redeclipse-legacy/vegetation.git
	branch = master
[submodule "weapons"]
	path = data/weapons
	url = https://github.com/redeclipse-legacy/weapons.git
	branch = master
[submodule "wicked"]
	path = data/wicked
	url = https://github.com/redeclipse-legacy/wicked.git
	branch = master
