[submodule "acerspyro"]
	path = data/acerspyro
	url = https://github.com/blue-nebula/acerspyro.git
	branch = master
[submodule "actors"]
	path = data/actors
	url = https://github.com/blue-nebula/actors.git
	branch = master
[submodule "appleflap"]
	path = data/appleflap
	url = https://github.com/blue-nebula/appleflap.git
	branch = master
[submodule "blendbrush"]
	path = data/blendbrush
	url = https://github.com/blue-nebula/blendbrush.git
	branch = master
[submodule "caustics"]
	path = data/caustics
	url = https://github.com/blue-nebula/caustics.git
	branch = master
[submodule "crosshairs"]
	path = data/crosshairs
	url = https://github.com/blue-nebula/crosshairs.git
	branch = master
[submodule "dziq"]
	path = data/dziq
	url = https://github.com/blue-nebula/dziq.git
	branch = master
[submodule "elyvisions"]
	path = data/elyvisions
	url = https://github.com/blue-nebula/elyvisions.git
	branch = master
[submodule "fonts"]
	path = data/fonts
	url = https://github.com/blue-nebula/fonts.git
	branch = master
[submodule "freezurbern"]
	path = data/freezurbern
	url = https://github.com/blue-nebula/freezurbern.git
[submodule "john"]
	path = data/john
	url = https://github.com/blue-nebula/john.git
	branch = master
[submodule "jojo"]
	path = data/jojo
	url = https://github.com/blue-nebula/jojo.git
	branch = master
[submodule "jwin"]
	path = data/jwin
	url = https://github.com/blue-nebula/jwin.git
	branch = master
[submodule "luckystrike"]
	path = data/luckystrike
	url = https://github.com/blue-nebula/luckystrike.git
	branch = master
[submodule "maps"]
	path = data/maps
	url = https://github.com/blue-nebula/maps.git
	branch = stable
[submodule "mayhem"]
	path = data/mayhem
	url = https://github.com/blue-nebula/mayhem.git
	branch = master
[submodule "mikeplus64"]
	path = data/mikeplus64
	url = https://github.com/blue-nebula/mikeplus64.git
	branch = master
[submodule "misc"]
	path = data/misc
	url = https://github.com/blue-nebula/misc.git
	branch = master
[submodule "nieb"]
	path = data/nieb
	url = https://github.com/blue-nebula/nieb.git
	branch = master
[submodule "nobiax"]
	path = data/nobiax
	url = https://github.com/blue-nebula/nobiax.git
	branch = master
[submodule "particles"]
	path = data/particles
	url = https://github.com/blue-nebula/particles.git
	branch = master
[submodule "philipk"]
	path = data/philipk
	url = https://github.com/blue-nebula/philipk.git
	branch = master
[submodule "projectiles"]
	path = data/projectiles
	url = https://github.com/blue-nebula/projectiles.git
	branch = master
[submodule "props"]
	path = data/props
	url = https://github.com/blue-nebula/props.git
	branch = master
[submodule "skyboxes"]
	path = data/skyboxes
	url = https://github.com/blue-nebula/skyboxes.git
	branch = master
[submodule "snipergoth"]
	path = data/snipergoth
	url = https://github.com/blue-nebula/snipergoth.git
	branch = master
[submodule "sounds"]
	path = data/sounds
	url = https://github.com/blue-nebula/sounds.git
	branch = master
[submodule "textures"]
	path = data/textures
	url = https://github.com/blue-nebula/textures.git
	branch = master
[submodule "torley"]
	path = data/torley
	url = https://github.com/blue-nebula/torley.git
	branch = master
[submodule "trak"]
	path = data/trak
	url = https://github.com/blue-nebula/trak.git
	branch = master
[submodule "ulukai"]
	path = data/ulukai
	url = https://github.com/blue-nebula/ulukai.git
	branch = master
[submodule "unnamed"]
	path = data/unnamed
	url = https://github.com/blue-nebula/unnamed.git
	branch = master
[submodule "vanities"]
	path = data/vanities
	url = https://github.com/blue-nebula/vanities.git
	branch = master
[submodule "vegetation"]
	path = data/vegetation
	url = https://github.com/blue-nebula/vegetation.git
	branch = master
[submodule "weapons"]
	path = data/weapons
	url = https://github.com/blue-nebula/weapons.git
	branch = master
[submodule "wicked"]
	path = data/wicked
	url = https://github.com/blue-nebula/wicked.git
	branch = master
