name: CI

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build-nix:
    name: Ubuntu (x86_64) debug
    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: Debug
    steps:
      - uses: actions/checkout@v2
      - name: Checkout enet submodule
        run: git submodule update --init src/enet
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev zlib1g-dev
      - name: Build for nix
        run: bash -xe ci/build-nix.sh

  build-nix-release:
    name: Ubuntu (x86_64) release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Checkout enet submodule
        run: git submodule update --init src/enet
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev zlib1g-dev
      - name: Build for nix
        run: bash -xe ci/build-nix.sh

  macos-release:
    name: macOS (x86_64) release
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v2
      - name: Checkout enet submodule
        run: git submodule update --init src/enet
      - name: Install dependencies
        run: brew install coreutils sdl2 sdl2_image sdl2_mixer glew
      - name: Build for mac
        run: bash -xe ci/build-mac.sh

  windows-release-cross:
    name: Windows (x86_64) release (crossbuild from Ubuntu x86_64, MinGW-w64)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Checkout enet submodule
        run: git submodule update --init src/enet
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y mingw-w64
      - name: Build for win cross
        run: bash -xe ci/build-win-cross.sh
